---
title: Guides - Rails Girls
---
%header
  .container
    %a#logo.span3{:href => "/"}
      %img{:alt => "Rails Girls Guides", :src => "http://guides.railsgirls.com/images/railsgirls-guides.png"}/
    %nav
%article.container
  .span10
    .hero
      %h2 Rails Girls Guides
      %p
        These guides are built to provide tools and a community for women to understand technology and how to build their ideas. Organize your own events, submit new guides, or just use them to learn Rails. For more, add yourself to the
        = succeed "." do
          %a{:href => "http://groups.google.com/group/rails-girls-team"} team mailing list
      %p.hero-links
        %a{:href => "http://railsgirls.com"} Learn more
        %br/
        %a{:href => "http://railsgirls.jp/"} Guides in Japanese
        %br/
        %a{:href => "http://railspremierspas.humancoders.com/"} Guides in French
        %br/
        %a{:href => "http://rgcn.github.io"} Guides in Chinese
        %br/
        %a{:href => "http://rgua.github.io"} Guides in Russian
        %br/
        %a{:href => "http://www.maujor.com/railsgirlsguide/"} Guides in Brazilian-Portuguese
        %br/
        %a{:href => "http://railsgirlslima.github.io/"} Guides in Spanish
        %br/
        %a{:href => "http://railsgirls.tw/"} Guides in Traditional Chinese
        %br/
        %a{:href => "http://railsgirlshh.github.io/"} Guides in German
        %br/
        %a{:href => "http://guides.railsgirls.co.il/"} Guides in Hebrew
        %br/
        %a{:href => "http://railsgirls.rug.lviv.ua/"} Guides in Ukrainian
        %br/
    %hr/
    %h2 Welcome to Rails Girls!
    %ul.home
      %li
        %a{:href => "http://guides.railsgirls.com/guide"}
          %i ★
          %h3 How to Organize a Rails Girls Event
          %p This guide has been put together to help you get started organizing your first Rails Girls event.
      %li
        - # TODO: Framgia Guide
        %a{:href => "install"}
          %i 1
          %h3 Guide to Install Rails
          %p To build apps and other things with Ruby on Rails, we need to setup some software and a developer environment for your computer (OS X, Windows, Linux).
      %li
        - # TODO: Framgia Guide
        %a{:href => "app"}
          %i 2
          %h3 Build Your First App
          %p Guide to building your first app with Ruby on Rails.
        %p
          %a{:href => "app"} Guides can be found in
          = succeed "," do
            %a{:href => "http://railspremierspas.humancoders.com/"} French
          = succeed "," do
            %a{:href => "http://rgcn.github.io"} Chinese
          = succeed "," do
            %a{:href => "http://railsgirlshh.github.io/"} German
          %a{:href => "http://guides.railsgirls.co.il/"} Hebrew
          too.
      %li
        - # TODO: Framgia Guide
        %a{:href => "github"}
          %i 3
          %h3 Push Your App to GitHub
          %p Push your code to GitHub to give people access to it.
      %li
        %i 4
        %h3 Put Your App Online
        %p Instructions to get your app running on the internet. We have a lot of platform. You can choose the following services:
        %p
          %a{:href => "heroku"} Heroku
          |
          %a{:href => "openshift"} OpenShift
          |
          %a{:href => "engineyard"} Engine Yard
          |
          %a{:href => "anynines"} anynines
          |
          %a{:href => "trucker"} Trucker
          |
          %a{:href => "shellycloud"} Shelly Cloud
      %li
        - # TODO: Framgia Guide
        %a{:href => "commenting"}
          %i 5
          %h3 Allow Comments on Your App
          %p How to allow comments on your apps.
      %li
        - # TODO: Framgia Guide
        %a{:href => "design"}
          %i 6
          %h3 Apply a Modern Design with Bootstrap
          %p How to apply a CSS framework, such as Bootstrap.
      %li
        - # TODO: Framgia Guide
        %a{:href => "thumbnails"}
          %i 7
          %h3 Resize your Images Using Carrierwave
          %p Instructions on resizing your images using Carrierwave
      %li
        - # TODO: Framgia Guide
        %a{:href => "devise"}
          %i 8
          %h3 Add Authentication with Devise
          %p How to quickly add a login and signup with Devise
      %li
        - # TODO: Framgia Guide
        %a{:href => "gravatar"}
          %i 9
          %h3 Add Profile Pics with Gravatar
          %p How to give your users profile photos
      %li
        - # TODO: Framgia Guide
        %a{:href => "design-html-css"}
          %i 10
          %h3 Design your App with HTML and CSS
          %p How to improve HTML and CSS on your app
      %li
        %i 11
        %h3 Continuous Deployment
        %p
          %a{:href => "http://guides.railsgirls.com/testing-rspec"} Test your application with RSpec
          |
          %a{:href => "http://guides.railsgirls.com/continuous-travis"} CD with Travis (and anynines)
          |
          %a{:href => "http://guides.railsgirls.com/continuous"} CD with Codeship (and Heroku)
      %li
        %a{:href => "http://guides.railsgirls.com/sinatra-app"}
          %i 12
          %h3 Build a voting app in Sinatra
          %p Guide to building your first app using the Sinatra framework
      %li
        %a{:href => "http://guides.railsgirls.com/diary-app"}
          %i 13
          %h3 Build a diary app in Ruby on Rails
          %p Guide to building your first app using Ruby on Rails
    %h2 Learning more with Rails Girls
    %ul.home
      %li
        %a{:href => "http://guides.railsgirls.com/bundlerfordevelopment"}
          %i 1
          %h3 How to Set Up Bundler for Development
          %p Instructions for a development environment with Bundler.
      %li
        %a{:href => "http://guides.railsgirls.com/ruby-game"}
          %i 2
          %h3 Write a little game in Ruby!
          %p Guide of Instructions for a game development with Ruby.
      %li
        %a{:href => "http://guides.railsgirls.com/sinatra"}
          %i 3
          %h3 Web Fundamentals Tutorial
          %p Get a deeper understanding of what's going on under the hood
      %li
        %a{:href => "http://guides.railsgirls.com/test-driven-development"}
          %i 4
          %h3 Test Driven Development
          %p Practice your Ruby skills while learning TDD
      %li
        %a{:href => "http://guides.railsgirls.com/ruby-atm"}
          %i 5
          %h3 Ruby ATM
          %p Focus on your Ruby skills - level 2!
    %h2 Let's have more fun with Rails Girls
    %ul.home
      %li
        %a{:href => "http://guides.railsgirls.com/how-to-continue-with-programming"}
          %i 1
          %h3 After The Event: How to Continue with Programming
          %p A guide to keep you going with learning how to program.
      %li
        %a{:href => "http://guides.railsgirls.com/remote"}
          %i 2
          %h3 Remote Pairing for the win!
          %p Even if you can't find help locally, someone can still help you over the Internet.
      %li
        %a{:href => "http://guides.railsgirls.com/coach"}
          %i 3
          %h3 Become a Rails Girls Coach
          %p Answers to all your questions about being a Rails Girls coach - in one place.
      %li
        %a{:href => "http://guides.railsgirls.com/guide-to-the-guide"}
          %i 4
          %h3 Guide to the Guide of Rails Girls
          %p Guide of background information about the Rails application.
      %li
        %a{:href => "http://rails-girls-map.herokuapp.com/#"}
          %i 5
          %h3 Rails Girls around the world
          %p An app built by Jessica to show RG around the world. Add your chapter!
      %li
        %a{:href => "http://guides.railsgirls.com/touristic-autism_intro"}
          %i 5
          %h3 Touristic Autism-friendly Spots App
          %p Allow authenticated users (using devise) to describe touristic places, comment and rate them from their autism-friendliness. To support autistic adults during their travelling.
      %li
        %a{:href => "http://guides.railsgirls.com/contributing"}
          %i ?
          %h3 Submit Your Own Guide
        %p
          %a{:href => "http://guides.railsgirls.com/contributing"} We are accepting guides to extend the application to our
          %a{:href => "http://github.com/railsgirls/railsgirls.github.com"} Github repository →
%footer
  %p
    This work is licensed under a
    %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons Attribution-Share Alike 3.0 License
  %p
    %a{:href => "http://railsgirls.com"} Rails Girls
    · Crafted with excitement from Helsinki, Finland · Follow us on
    %a{:href => "http://twitter.com/railsgirls"} Twitter
    and
    %a{:href => "https://www.facebook.com/railsgirls"} Facebook

